# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the app is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
#.env
#.venv
#env/
#venv/
#ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
temp/api_resource_data_attribute_cart.out
temp/api_resource_data_attribute_cart.txt
temp/api_resource_data_attribute_cartid.out
temp/api_resource_data_attribute_cartid.txt
temp/api_resource_data_attribute_client_id_converted.txt
temp/api_resource_data_attribute_client_id.out
temp/api_resource_data_attribute_client_id.txt
temp/api_resource_data_attribute_client.code.out
temp/api_resource_data_attribute_client.code.txt
temp/api_resource_data_attribute_client.name_converted.txt
temp/api_resource_data_attribute_client.name.out
temp/api_resource_data_attribute_client.name.txt
temp/api_resource_data_attribute_client.out
temp/api_resource_data_attribute_client.product.name_converted.txt
temp/api_resource_data_attribute_client.product.name.out
temp/api_resource_data_attribute_client.product.name.txt
temp/api_resource_data_attribute_client.product.origem.code.out
temp/api_resource_data_attribute_client.product.origem.code.txt
temp/api_resource_data_attribute_client.product.origem.description_converted.txt
temp/api_resource_data_attribute_client.product.origem.description.out
temp/api_resource_data_attribute_client.product.origem.description.txt
temp/api_resource_data_attribute_client.product.sku.out
temp/api_resource_data_attribute_client.product.sku.txt
temp/api_resource_data_attribute_client.product.value_converted.txt
temp/api_resource_data_attribute_client.product.value.out
temp/api_resource_data_attribute_client.product.value.txt
temp/api_resource_data_attribute_client.txt
temp/api_resource_data_attribute_cliente.chanelSource_converted.txt
temp/api_resource_data_attribute_cliente.chanelSource.out
temp/api_resource_data_attribute_cliente.chanelSource.txt
temp/api_resource_data_attribute_cliente.codigo.out
temp/api_resource_data_attribute_cliente.codigo.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.bairro_converted.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.bairro.out
temp/api_resource_data_attribute_cliente.deliveryAddress.bairro.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.cep.out
temp/api_resource_data_attribute_cliente.deliveryAddress.cep.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.cidade_converted.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.cidade.out
temp/api_resource_data_attribute_cliente.deliveryAddress.cidade.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.end_converted.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.end.out
temp/api_resource_data_attribute_cliente.deliveryAddress.end.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.numero.out
temp/api_resource_data_attribute_cliente.deliveryAddress.numero.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.origem_converted.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.origem.out
temp/api_resource_data_attribute_cliente.deliveryAddress.origem.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.uf_converted.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.uf.out
temp/api_resource_data_attribute_cliente.deliveryAddress.uf.txt
temp/api_resource_data_attribute_cliente.document_converted.txt
temp/api_resource_data_attribute_cliente.document.out
temp/api_resource_data_attribute_cliente.document.txt
temp/api_resource_data_attribute_cliente.documento.out
temp/api_resource_data_attribute_cliente.documento.txt
temp/api_resource_data_attribute_cliente.name_converted.txt
temp/api_resource_data_attribute_cliente.name.out
temp/api_resource_data_attribute_cliente.name.txt
temp/api_resource_data_attribute_cliente.nome_converted.txt
temp/api_resource_data_attribute_cliente.nome.out
temp/api_resource_data_attribute_cliente.nome.txt
temp/api_resource_data_attribute_cliente.out
temp/api_resource_data_attribute_cliente.paymentMethod.cardHolder_converted.txt
temp/api_resource_data_attribute_cliente.paymentMethod.cardHolder.out
temp/api_resource_data_attribute_cliente.paymentMethod.cardHolder.txt
temp/api_resource_data_attribute_cliente.paymentMethod.cardNumber.out
temp/api_resource_data_attribute_cliente.paymentMethod.cardNumber.txt
temp/api_resource_data_attribute_cliente.paymentMethod.cvv.out
temp/api_resource_data_attribute_cliente.paymentMethod.cvv.txt
temp/api_resource_data_attribute_cliente.paymentMethod.dueDate_converted.txt
temp/api_resource_data_attribute_cliente.paymentMethod.dueDate.out
temp/api_resource_data_attribute_cliente.paymentMethod.dueDate.txt
temp/api_resource_data_attribute_cliente.paymentMethod.method_converted.txt
temp/api_resource_data_attribute_cliente.paymentMethod.method.out
temp/api_resource_data_attribute_cliente.paymentMethod.method.txt
temp/api_resource_data_attribute_cliente.paymentMethod.totalValue_converted.txt
temp/api_resource_data_attribute_cliente.paymentMethod.totalValue.out
temp/api_resource_data_attribute_cliente.paymentMethod.totalValue.txt
temp/api_resource_data_attribute_cliente.products.produto_converted.txt
temp/api_resource_data_attribute_cliente.products.produto.out
temp/api_resource_data_attribute_cliente.products.produto.txt
temp/api_resource_data_attribute_cliente.products.sku.out
temp/api_resource_data_attribute_cliente.products.sku.txt
temp/api_resource_data_attribute_cliente.products.statusPedidos.code.out
temp/api_resource_data_attribute_cliente.products.statusPedidos.code.txt
temp/api_resource_data_attribute_cliente.products.statusPedidos.description_converted.txt
temp/api_resource_data_attribute_cliente.products.statusPedidos.description.out
temp/api_resource_data_attribute_cliente.products.statusPedidos.description.txt
temp/api_resource_data_attribute_cliente.products.statusPedidos.origem_converted.txt
temp/api_resource_data_attribute_cliente.products.statusPedidos.origem.out
temp/api_resource_data_attribute_cliente.products.statusPedidos.origem.txt
temp/api_resource_data_attribute_cliente.products.valor_converted.txt
temp/api_resource_data_attribute_cliente.products.valor.out
temp/api_resource_data_attribute_cliente.products.valor.txt
temp/api_resource_data_attribute_cliente.produto.origem.codigo.out
temp/api_resource_data_attribute_cliente.produto.origem.codigo.txt
temp/api_resource_data_attribute_cliente.produto.origem.descricao_converted.txt
temp/api_resource_data_attribute_cliente.produto.origem.descricao.out
temp/api_resource_data_attribute_cliente.produto.origem.descricao.txt
temp/api_resource_data_attribute_cliente.produto.produto_converted.txt
temp/api_resource_data_attribute_cliente.produto.produto.out
temp/api_resource_data_attribute_cliente.produto.produto.txt
temp/api_resource_data_attribute_cliente.produto.sku.out
temp/api_resource_data_attribute_cliente.produto.sku.txt
temp/api_resource_data_attribute_cliente.produto.valor_converted.txt
temp/api_resource_data_attribute_cliente.produto.valor.out
temp/api_resource_data_attribute_cliente.produto.valor.txt
temp/api_resource_data_attribute_cliente.txt
temp/api_resource_data_attribute_itens.produto_converted.txt
temp/api_resource_data_attribute_itens.produto.out
temp/api_resource_data_attribute_itens.produto.txt
temp/api_resource_data_attribute_itens.sku.out
temp/api_resource_data_attribute_itens.sku.txt
temp/api_resource_data_attribute_numPedido.out
temp/api_resource_data_attribute_numPedido.txt
temp/api_resource_data_attribute_orderDate_converted.txt
temp/api_resource_data_attribute_orderDate.out
temp/api_resource_data_attribute_orderDate.txt
temp/api_resource_data_attribute_origem.out
temp/api_resource_data_attribute_origem.txt
temp/api_resource_data_attribute_product_name_converted.txt
temp/api_resource_data_attribute_product_name.out
temp/api_resource_data_attribute_product_name.txt
temp/api_resource_data_attribute_product_price.txt
temp/api_resource_data_attribute_product_sku.out
temp/api_resource_data_attribute_product_sku.txt
temp/api_resource_data_attribute_produt_price_converted.txt
temp/api_resource_data_attribute_produt_price.out
temp/api_resource_data_attribute_produt_price.txt
temp/api_resource_data_attribute_quantity.out
temp/api_resource_data_attribute_quantity.txt
temp/arm_attributes.ignore
temp/ecommerce-carts_frequent_attributes.ignore
temp/ecommerce-orders_frequent_attributes.ignore
temp/ignored_attributes.json
temp/api_resource_data_attribute_cart_id.out
temp/api_resource_data_attribute_cart_id.txt
temp/api_resource_data_attribute_cart.cartid.txt
temp/api_resource_data_attribute_cart.cliente.txt
temp/api_resource_data_attribute_cart.itens.produto.txt
temp/api_resource_data_attribute_cart.itens.sku.txt
temp/api_resource_data_attribute_cart.itens.valor.txt
temp/api_resource_data_attribute_client.product.origem.cartid.out
temp/api_resource_data_attribute_client.product.origem.cartid.txt
temp/api_resource_data_attribute_client.products.origem.code.out
temp/api_resource_data_attribute_client.products.origem.code.txt
temp/api_resource_data_attribute_client.products.origem.description.out
temp/api_resource_data_attribute_client.products.origem.description.txt
temp/api_resource_data_attribute_client.products.produto.out
temp/api_resource_data_attribute_client.products.produto.txt
temp/api_resource_data_attribute_client.products.sku.out
temp/api_resource_data_attribute_client.products.sku.txt
temp/api_resource_data_attribute_client.products.valor.out
temp/api_resource_data_attribute_client.products.valor.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.statusPedidos.code.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.statusPedidos.description.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.statusPedidos.origem.txt
temp/api_resource_data_attribute_cliente.paymentMethod.status.out
temp/api_resource_data_attribute_cliente.paymentMethod.status.txt
temp/api_resource_data_attribute_cliente.paymentMethod.transaction_id.out
temp/api_resource_data_attribute_cliente.paymentMethod.transaction_id.txt
temp/api_resource_data_attribute_cliente.products.statusPedidos.order_id.out
temp/api_resource_data_attribute_cliente.products.statusPedidos.order_id.txt
temp/api_resource_data_attribute_codigo.txt
temp/api_resource_data_attribute_dataPedido.txt
temp/api_resource_data_attribute_statusPedidos.txt
temp/api_resource_data_attribute_transaction_id.out
temp/api_resource_data_attribute_transaction_id.txt
temp/ftc_list_cleaned.csv
temp/ftc_list_with_case_id.csv
temp/ftc_list.csv
temp/ftc_list.txt
temp/payments_frequent_attributes.ignore
temp/teste.xml
temp/api_resource_data_attribute_cart_id.out
temp/api_resource_data_attribute_cart_id.txt
temp/api_resource_data_attribute_cart.cartid.txt
temp/api_resource_data_attribute_cart.cliente.txt
temp/api_resource_data_attribute_cart.itens.produto.txt
temp/api_resource_data_attribute_cart.itens.sku.txt
temp/api_resource_data_attribute_cart.itens.valor.txt
temp/api_resource_data_attribute_client.product.origem.cartid.out
temp/api_resource_data_attribute_client.product.origem.cartid.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.statusPedidos.code.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.statusPedidos.description.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.statusPedidos.origem.txt
temp/api_resource_data_attribute_cliente.paymentMethod.status.out
temp/api_resource_data_attribute_cliente.paymentMethod.status.txt
temp/api_resource_data_attribute_cliente.paymentMethod.transaction_id.out
temp/api_resource_data_attribute_cliente.paymentMethod.transaction_id.txt
temp/api_resource_data_attribute_cliente.products.statusPedidos.order_id.out
temp/api_resource_data_attribute_cliente.products.statusPedidos.order_id.txt
temp/api_resource_data_attribute_codigo.txt
temp/api_resource_data_attribute_dataPedido.txt
temp/api_resource_data_attribute_statusPedidos.txt
temp/api_resource_data_attribute_transaction_id.out
temp/api_resource_data_attribute_transaction_id.txt
temp/ftc_list_cleaned.csv
temp/ftc_list_with_case_id.csv
temp/ftc_list.csv
temp/ftc_list.txt
temp/payments_frequent_attributes.ignore
temp/teste.xml
temp/api_resource_data_attribute_cart_id.out
temp/api_resource_data_attribute_cart_id.txt
temp/api_resource_data_attribute_cart.cartid.out
temp/api_resource_data_attribute_cart.cartid.txt
temp/api_resource_data_attribute_cart.cliente.out
temp/api_resource_data_attribute_cart.cliente.txt
temp/api_resource_data_attribute_cart.itens.produto.out
temp/api_resource_data_attribute_cart.itens.produto.txt
temp/api_resource_data_attribute_cart.itens.sku.out
temp/api_resource_data_attribute_cart.itens.sku.txt
temp/api_resource_data_attribute_cart.itens.valor.out
temp/api_resource_data_attribute_cart.itens.valor.txt
temp/api_resource_data_attribute_claim-id.out
temp/api_resource_data_attribute_claim-id.txt
temp/api_resource_data_attribute_claimId.out
temp/api_resource_data_attribute_claimId.txt
temp/api_resource_data_attribute_client.email.out
temp/api_resource_data_attribute_client.email.txt
temp/api_resource_data_attribute_client.objectAddress.bairro.out
temp/api_resource_data_attribute_client.objectAddress.bairro.txt
temp/api_resource_data_attribute_client.objectAddress.cep.out
temp/api_resource_data_attribute_client.objectAddress.cep.txt
temp/api_resource_data_attribute_client.objectAddress.cidade.out
temp/api_resource_data_attribute_client.objectAddress.cidade.txt
temp/api_resource_data_attribute_client.objectAddress.end.out
temp/api_resource_data_attribute_client.objectAddress.end.txt
temp/api_resource_data_attribute_client.objectAddress.numero.out
temp/api_resource_data_attribute_client.objectAddress.numero.txt
temp/api_resource_data_attribute_client.objectAddress.objectDamage.coverage.out
temp/api_resource_data_attribute_client.objectAddress.objectDamage.coverage.txt
temp/api_resource_data_attribute_client.objectAddress.objectDamage.name.out
temp/api_resource_data_attribute_client.objectAddress.objectDamage.name.txt
temp/api_resource_data_attribute_client.objectAddress.objectDamage.policy.ativo.out
temp/api_resource_data_attribute_client.objectAddress.objectDamage.policy.ativo.txt
temp/api_resource_data_attribute_client.objectAddress.objectDamage.policy.coverage.out
temp/api_resource_data_attribute_client.objectAddress.objectDamage.policy.coverage.txt
temp/api_resource_data_attribute_client.objectAddress.objectDamage.policy.policyNumber.out
temp/api_resource_data_attribute_client.objectAddress.objectDamage.policy.policyNumber.txt
temp/api_resource_data_attribute_client.objectAddress.objectDamage.value.out
temp/api_resource_data_attribute_client.objectAddress.objectDamage.value.txt
temp/api_resource_data_attribute_client.objectAddress.uf.out
temp/api_resource_data_attribute_client.objectAddress.uf.txt
temp/api_resource_data_attribute_client.objectDamage.coverage.out
temp/api_resource_data_attribute_client.objectDamage.coverage.txt
temp/api_resource_data_attribute_client.objectDamage.description.out
temp/api_resource_data_attribute_client.objectDamage.description.txt
temp/api_resource_data_attribute_client.objectDamage.name.out
temp/api_resource_data_attribute_client.objectDamage.name.txt
temp/api_resource_data_attribute_client.objectDamage.object.out
temp/api_resource_data_attribute_client.objectDamage.object.txt
temp/api_resource_data_attribute_client.objectDamage.paymentData.accountNumber.out
temp/api_resource_data_attribute_client.objectDamage.paymentData.accountNumber.txt
temp/api_resource_data_attribute_client.objectDamage.paymentData.bankName.out
temp/api_resource_data_attribute_client.objectDamage.paymentData.bankName.txt
temp/api_resource_data_attribute_client.objectDamage.paymentData.bic.out
temp/api_resource_data_attribute_client.objectDamage.paymentData.bic.txt
temp/api_resource_data_attribute_client.objectDamage.paymentData.brachNumber.out
temp/api_resource_data_attribute_client.objectDamage.paymentData.brachNumber.txt
temp/api_resource_data_attribute_client.objectDamage.paymentData.origem.claimId.out
temp/api_resource_data_attribute_client.objectDamage.paymentData.origem.claimId.txt
temp/api_resource_data_attribute_client.objectDamage.paymentData.origem.code.out
temp/api_resource_data_attribute_client.objectDamage.paymentData.origem.code.txt
temp/api_resource_data_attribute_client.objectDamage.paymentData.origem.description.out
temp/api_resource_data_attribute_client.objectDamage.paymentData.origem.description.txt
temp/api_resource_data_attribute_client.objectDamage.paymentData.origem.policyNumber.out
temp/api_resource_data_attribute_client.objectDamage.paymentData.origem.policyNumber.txt
temp/api_resource_data_attribute_client.objectDamage.result.out
temp/api_resource_data_attribute_client.objectDamage.result.txt
temp/api_resource_data_attribute_client.objectDamage.validated.out
temp/api_resource_data_attribute_client.objectDamage.validated.txt
temp/api_resource_data_attribute_client.objectDamage.value.out
temp/api_resource_data_attribute_client.objectDamage.value.txt
temp/api_resource_data_attribute_client.product.origem.cartid.out
temp/api_resource_data_attribute_client.product.origem.cartid.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.statusPedidos.code.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.statusPedidos.description.txt
temp/api_resource_data_attribute_cliente.deliveryAddress.statusPedidos.origem.txt
temp/api_resource_data_attribute_cliente.paymentData.accountNumber.out
temp/api_resource_data_attribute_cliente.paymentData.accountNumber.txt
temp/api_resource_data_attribute_cliente.paymentData.bankName.out
temp/api_resource_data_attribute_cliente.paymentData.bankName.txt
temp/api_resource_data_attribute_cliente.paymentData.bic.out
temp/api_resource_data_attribute_cliente.paymentData.bic.txt
temp/api_resource_data_attribute_cliente.paymentData.brachNumber.out
temp/api_resource_data_attribute_cliente.paymentData.brachNumber.txt
temp/api_resource_data_attribute_cliente.paymentData.totalValue.out
temp/api_resource_data_attribute_cliente.paymentData.totalValue.txt
temp/api_resource_data_attribute_cliente.paymentData.transaction_id.out
temp/api_resource_data_attribute_cliente.paymentData.transaction_id.txt
temp/api_resource_data_attribute_cliente.paymentMethod.status.out
temp/api_resource_data_attribute_cliente.paymentMethod.status.txt
temp/api_resource_data_attribute_cliente.paymentMethod.transaction_id.out
temp/api_resource_data_attribute_cliente.paymentMethod.transaction_id.txt
temp/api_resource_data_attribute_cliente.products.statusPedidos.order_id.out
temp/api_resource_data_attribute_cliente.products.statusPedidos.order_id.txt
temp/api_resource_data_attribute_code.out
temp/api_resource_data_attribute_code.txt
temp/api_resource_data_attribute_codigo.out
temp/api_resource_data_attribute_codigo.txt
temp/api_resource_data_attribute_dataPedido.out
temp/api_resource_data_attribute_dataPedido.txt
temp/api_resource_data_attribute_email.out
temp/api_resource_data_attribute_email.txt
temp/api_resource_data_attribute_insuredClient.code.out
temp/api_resource_data_attribute_insuredClient.code.txt
temp/api_resource_data_attribute_insuredClient.email.out
temp/api_resource_data_attribute_insuredClient.email.txt
temp/api_resource_data_attribute_insuredClient.name.out
temp/api_resource_data_attribute_insuredClient.name.txt
temp/api_resource_data_attribute_insuredClient.stakeholders.code.out
temp/api_resource_data_attribute_insuredClient.stakeholders.code.txt
temp/api_resource_data_attribute_insuredClient.stakeholders.email.out
temp/api_resource_data_attribute_insuredClient.stakeholders.email.txt
temp/api_resource_data_attribute_insuredClient.stakeholders.name.out
temp/api_resource_data_attribute_insuredClient.stakeholders.name.txt
temp/api_resource_data_attribute_message.out
temp/api_resource_data_attribute_message.txt
temp/api_resource_data_attribute_name.out
temp/api_resource_data_attribute_name.txt
temp/api_resource_data_attribute_policy.out
temp/api_resource_data_attribute_policy.txt
temp/api_resource_data_attribute_policyNumber.out
temp/api_resource_data_attribute_policyNumber.txt
temp/api_resource_data_attribute_statusPedidos.out
temp/api_resource_data_attribute_statusPedidos.txt
temp/api_resource_data_attribute_transaction_id.out
temp/api_resource_data_attribute_transaction_id.txt
temp/ftc_list_cleaned.csv
temp/ftc_list_with_case_id.csv
temp/ftc_list.csv
temp/ftc_list.txt
temp/insurance-claims_frequent_attributes.ignore
temp/payments_frequent_attributes.ignore
temp/teste.xml
temp/process/heuristics_net_GET capture-informations.png
temp/process/heuristics_net_GET orders.png
temp/process/heuristics_net_GET payments.png
temp/process/heuristics_net_POST carts.png
temp/process/heuristics_net_POST claims.png
temp/process/heuristics_net_POST deliveryaddress.png
temp/process/heuristics_net_POST itens.png
temp/process/heuristics_netGET capture-informations.pkl
temp/process/heuristics_netGET orders.pkl
temp/process/heuristics_netGET payments.pkl
temp/process/heuristics_netPOST carts.pkl
temp/process/heuristics_netPOST claims.pkl
temp/process/heuristics_netPOST deliveryaddress.pkl
temp/process/heuristics_netPOST itens.pkl
